<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="./static/css/style.css">   
    <title>HouseHold</title>
</head>
<body>
    <div class="heading shadow-sm rounded">
        <nav class="navbar navbar-expand-lg navbar-light  ">
            <div class="container-fluid">
              <a class="navbar-brand" href="/welcome"><h2>HouseHold</h2></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="/hire">Hire</a>
                    </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="#categoriesarea">Categories</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="#contactusarea">Contact</a>
                  </li>
                 
                  <li class="nav-item">
                    <a class="nav-link active" href="/">Logout</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </div>

    <div class="main">
      <div class="row align-items-center  shadow-sm rounded">
        <div class="col-lg-5 col-md-12">
          <div class="main-banner-image">
            <img src="./static/img/maid-banner-2.webp " alt="gif" class="main-banner">
          </div>
        </div>
  
        <div class="col-lg-7 col-md-12">
          <div class="main-banner-content">
            <h1 style="font-size: 400%;">Find A Perfect Maid </h1>
            <h1>For your Home</h1>
          </div>
        </div>
      </div>

      <div class="categories" id="categoriesarea">
        <h1 style="font-size: 300%; text-align: center;" >Categories</h1>
        <div class="cleaning">
          <div class="row align-items-center">
            <div class="col-lg-5 col-md-12">
              <div class="main-banner-image">
                <img src="./static/img/cleaning.webp " alt="gif" class="main-banner">
              </div>
            </div>
      
            <div class="col-lg-7 col-md-12">
              <div class="main-banner-content">
                <h1 style="font-size: 200%;">Cleaning</h1>
              </div>
            </div>
          </div>
        </div>

        <div class="cooking">
          <div class="row align-items-center">
            <div class="col-lg-5 col-md-12">
              <div class="main-banner-image">
                <img src="./static/img/cooking.webp " alt="gif" class="main-banner">
              </div>
            </div>
      
            <div class="col-lg-7 col-md-12">
              <div class="main-banner-content">
                <h1 style="font-size: 200%;">Cooking </h1>
              </div>
            </div>
          </div>
        </div>

        <div class="baby-sitting" >
          <div class="row align-items-center">
            <div class="col-lg-5 col-md-12">
              <div class="main-banner-image">
                <img src="./static/img/baby-sitting.webp " alt="gif" class="main-banner">
              </div>
            </div>
      
            <div class="col-lg-7 col-md-12">
              <div class="main-banner-content">
                <h1 style="font-size: 200%;">Baby-Sitting</h1>
              </div>
            </div>
          </div>
        </div>

        <div class="elder">
          <div class="row align-items-center">
            <div class="col-lg-5 col-md-12">
              <div class="main-banner-image">
                <img src="./static/img/elder.webp" alt="gif" class="main-banner" style="width: 85%;">
              </div>
            </div>
      
            <div class="col-lg-7 col-md-12">
              <div class="main-banner-content">
                <h1 style="font-size: 200%;">Eldery-Care </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>



    <div class="footer" id="contactusarea" >
        <p>Contact Us</p>
        <a href="instagram.com" class="icons"><i class="ri-instagram-fill"></i></a>
        <a href="facebook.com" class="icons"><i class="ri-facebook-circle-line"></i></a>
        <a href="twitter.com" class="icons"><i class="ri-twitter-fill"></i></a>
        <p>Copyright &copy HouseHold</p>
    </div>
</body>
</html>